---

---

<section class="bg-about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2
					class="section-heading text-white"
					style="text-shadow: 2px 2px 2px rgba(0,0,0);"
				>
					Tenemos lo que necesitas!
				</h2>
				<hr class="light my-4" />
				<p
					class="lead text-white mb-4"
					style="text-shadow: 1px 2px 1px rgba(0,0,0);"
				>
					"Descubre un estilo único y accesible, donde cada prenda te invita a
					una experiencia que no puedes dejar pasar. ¡Renueva tu look y
					encuentra tus favoritos! ¡Te esperamos!"
				</p>
				<a
					class="btn btn-outline-light btn-xl js-scroll-trigger"
					href="#categories">Comencemos</a
				>
			</div>
		</div>
	</div>
</section>

<style>
	.bg-about {
		background-color: #52141b;
		padding: 8rem 0;
	}
	.light {
		max-width: 50px;
		border-width: 3px;
		border-color: white;
		opacity: inherit;
		margin: 0 auto; /* Centra horizontalmente */
	}
</style>
